/*UNIVERSAL SELECTOR*/
* {
    box-sizing: border-box;
}

/************************
GENERAL
************************/

.menu{
    font-style: background-color: rgb(38,38,38);
    height: 700px;
    width: 1200px;
    overflow: hidden;
    margin: 0;
}

body{
    /* Without this, the body has excess horizontal scroll when the menu is open */
    overflow-x: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.navbar{
    position: fixed;
}

.main-header{
    height: 850px;
    padding-top: 170px;
/*
    background-image: url(../img/connal.jpg);
    background-image: radial-gradient(cirle at top, orange, crimson);
    background-image: linear-gradient(#ffa949, crimson);
*/
    background: linear-gradient(crimson, transparent 90%),
                      crimson url('../img/connal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Cinzel Decorative', cursive;
    box-shadow: inset 0px 0px 50px 10px rgba(0,0,0,.8);
}

.main-header, .title{
    text-align: center;
}

.title{
    /*To change font-size from px to em. Do  this simple equation
        Desired pixels / 16 pixels.
    */
    font-size: 1.625em;
    color: honeydew;
    letter-spacing: .065em;
    font-weight: 200;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.primary-content{
    text-align: center;
    padding-bottom: 95px;
}

.secondary-content{
    padding-top: 80px;
    padding-bottom: 70px;
    border-bottom: 2px solid black;
}

.third-content{
    padding-top: 80px;
    padding-bottom: 70px;
    border-bottom: 2px solid black;
}

.primary-content, .secondary-content, .third-content{
    width: 75%;
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 900px;
}

.t-border{
    border-top: 2px solid lightgrey;
}

/*
ul li{
    margin-bottom: 5px;
}
*/

ul, ol{
    margin-left: 30px 0;
}

li{
    margin-bottom: 10px;
}

.arrow{
    width: 50px;
    margin-top: 150px;
}

img{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
}

.sandwich{
/*
    padding-top: 100px;
    padding-right: 120px;
    padding-bottom: 100px;
    padding-left: 120px;
*/
    padding: 18% 24%;
    /*Two values, 1st is foere top and bottom, 2nd is for left and right.*/
    border-width: 10px 20px;
    border-radius: 10px;
    border-style: dashed;
    border-color: black;
    margin: 105px 0 60px;

    background-image: url('../img/bear.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*Box shadows: 1st is horizontal, 2nd is vertical, 3rd is blur, & 4th is spread-radius*/
    box-shadow: inset 0px 0px 50px 10px rgba(0,0,0,.8);
}

.callout{
    font-size: 1.25em;
    border-bottom: 3px solid;
    padding: 0 9px 3px;
    margin-top: 20px;
    display: inline-block;
    
}

.map {
    padding-left: 100px;
}

.social-media-icon {
    height: 20px;
    margin: 0 5px;
    width: 20px;
}

#main-footer{
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 10px crimson;
}

/************************
NAVIGATIONAL BAR
************************/

.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  
  /* non-critical appearance styles */
  list-style: none;
}

.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}


.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background-color: darkgrey;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

/************************
HEADLINE ELEMENTS & P ELEMENTS
************************/

h1{
    font-size: 5.625em;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
    margin: 12px 0 0;
}

h2{
    font-size: 53px;
    text-decoration: underline;
    font-weight: normal;
    margin-bottom: .5em;
}

h3{
    font-size: 20px;
    margin-bottom: 1.7em;
}

p{
    
}

/************************
FLOATED COLUMNS
************************/
.pasadena, .upland{
    width: 46.5%;
}

.pasadena{
    float: left;
}

.upland{
    float: right;
}

.group:after{
    content: "";
    display: table;
    clear: both;
}
/************************
COLORS
************************/

body{
    color: darkgray;
}

.title{
    color: beige;
}

h1{    
    color: honeydew;
}

ul li {
    color: honeydew;
}

.main-header{
    background-color: crimson;    
}

.sandwich{
    color: honeydew;
    background-color: white;
}

h3{
    color: dimgray;
}

/*CSS PSUEDO CLASS*/

a:link{
    color: lightgray;
    text-decoration: none;
}

a:visited{
    color: dimgray;
}

a:hover{
    color: grey;
}

a:active{
    color: darkgray;
}

a:focus{
    background-color: lightgray;
    color: black;
}


/************************
MEDIA QUERIES
************************/

@media (max-width: 1024px) {
    .primary-content, .secondary-content {
        width: 90%;
    }
    .sandwiches {
        padding: 10% 12%;
        margin: 50px 0 20px;
    }
}

@media (max-width: 768px) {
    .primary-content, .secondary-content {
        width: 100%;
        padding: 20px;
        border-top: none;
    }
    .main-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }
    .title {
        font-size: 1.3em;
        border: none;
    }
    h1 {
        font-size: 5rem;
        line-height: 1.1;
    }
    .arrow {
        display: none;
    }
    .intro {
        font-size: 1rem;
    }
    .pasadena, .upland {
        float: none;
        width: 100%;
    }
    .main-footer {
        padding: 20px 0;
    }    
}

@media (max-width: 375px) {
    h1 {
        font-size: 3rem;
    }    
}